.tabStyle {
  background-color: #555;
  color: white;
  border-radius: 5px 20px;
  float: right;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 17px;
  width: 70px;
  height: 35px;
  margin-left: -3px;
  margin-right: -3px;
}
.tabStyle:hover {
  background-color: #777;
}

.search {
  position: absolute;
  left: -9999px;
  width: 1px;
  height: 1px;
}
